{% extends 'base.html' %}
{% block css-content %}
    <link rel="stylesheet" href="/static/jquery-confirm/jquery-confirm.min.css">
    <link href="/static/datatable/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/datatable/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/datatable/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/datatable/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">     
	<style type="text/css"> 
		pre {
			overflow: auto;
			white-space: normal;
			white-space: pre-wrap; /* css-3 */
			white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			word-wrap: break-word; /* Internet Explorer 5.5+ */
			font-family: Consolas, monospace;
			color: #ADFF2F;
			background-color: #000000;
		}	
		td.details-control {
		    background: url('/static/images/details_open.png') no-repeat center center; */
		    cursor: pointer;
		}
		tr.shown td.details-control {
		    background: url('/static/images/details_close.png') no-repeat center center;
		} 
		#project_local_command {
			width: 100%;
			height: 300px;
	   }   		      	
	</style>  
{% endblock %}
{% block page-content %}
        <div class="clearfix"></div> 
        
		<div class="row">
		
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>项目统计 <small>Project Summary</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
			<div class="x_content">
				<div class="row">
                 <div class="col-md-6" style="overflow:hidden;">
                     <div id="all_apps_graph_bar" style="width:100%; height:250px;"></div>
                 </div>	                 
                 <div class="col-md-6" style="overflow:hidden;">
                 	 <h2>成功率 <small>Success Rate</small></h2>
                     <div id="all_apps_graph_pie" style="width:100%; height:250px;"></div>
                 </div>  
                </div>  
                <div class="row">
                 <div class="col-md-12" style="overflow:hidden;">
                 	 <h2>月度发布次数<small>  Release Count</small></h2>
                     <div id="all_apps_graph_line" style="width:100%; height:300px;"></div>
                 </div>                 
                </div>             	
			</div>                               
          </div>             
         </div> 		
		
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>项目列表 <small>Project Lists</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
			<div class="x_content">
                <div class="product_price">
                	<button type="button" class="btn btn-xs btn-default"><a href="/apps/config/"><i class="glyphicon glyphicon-plus"></i></a></button>                  
                    <table id="projectList" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
			                <th>详情</th>
			                <th>ID</th>
			                <th>所属项目</th>
			                <th>项目名称</th>
			                <th>项目环境</th>
			                <th>仓库目录</th>
			                <th>仓库地址</th>
			                <th>激活状态</th>
							<th class="text-center">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>                          
                </div>		
			</div>                               
          </div>             
         </div> 
        </div>
              




           
           
                                 
{% endblock %}
{% block js-content %}
	<script src="/static/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="/static/datatable/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/static/datatable/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>	
    <script src="/static/datatable/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/datatable/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/datatable/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/datatable/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/datatable/datatables.net-buttons/js/buttons.print.min.js"></script>
    <!-- morris.js -->
    <script src="/static/raphael/raphael.min.js"></script>
    <script src="/static/morris.js/morris.min.js"></script>
    <script src="/static/js/cicd/apps.js"></script>  
{% endblock %}