{% extends 'index.html' %}
{% block page-content %}
<div id="page-wrapper">
    <div class="row">
         <div class="col-lg-12">
              <h1 class="page-header"><i class="fa  fa-print  "></i> 资产操作日志</h1>
         </div>
                <!-- /.col-lg-12 -->
    </div>
	<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           	<i class="fa   fa-gear"></i> 操作日志
                        </div>
                        <div class="panel-body">

				                            
				           <ul class="nav nav-tabs">
				              <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-database"></i> 资产操作</a>
				              </li>			              
				           </ul>
				
				                            
				           <div class="tab-content">
				              <div class="tab-pane fade in active" id="home">
				                   <div class="row">
				                   		<div class="col-lg-12">
				                   			<br>
				                            <table width="100%" class="table table-striped table-bordered table-hover" id="assetsTableList">
				                                <thead>
				                                    <tr>
				                                    	<th class="text-center">资产id</th>
				                                    	<th class="text-center">操作用户</th>
				                                        <th class="text-center">操作内容</th>
				                                        <th class="text-center">操作时间</th>
				                                        {% if perms.OpsManage.delete_log_assets %}
				                                        	<th class="text-center">操作</th>
				                                        {% endif %}
				                                    </tr>
				                                </thead>
				                                <tbody>
				                                	{% for ds in assetsList %}
				                                		<tr class="odd gradeX" id="assetsLogs-{{ds.id}}">
				                                			<td class="text-center">
				                                				{% if ds.assets_type == 'server' or ds.assets_type == 'net' %}
				                                					 <a href="/assets_view/{{ds.assets_id}}">{{ds.assets_id}}</a>
				                                				{% else %}
				                                					 <a href="#">{{ds.assets_id}}</a>
				                                				{% endif %}
				                                			</td>
				                                			<td class="text-center">{{ds.assets_user}} </td>
				                                			<td class="text-center">{{ds.assets_content}} </td>
				                                			<td class="text-center">{{ds.create_time|date:"Y/m/d H:i  "}}</td>
				                                			{% if perms.OpsManage.delete_log_assets %}
					                                			<td class="text-center">
					                                				<a href="javascript:" onclick="deleteAssetsLogs(this,{{ds.id}})">
						                                				<button class="btn btn-danger btn-xs">					                                					
																			<i class="glyphicon glyphicon-trash  bigger-110 icon-only"></i>
																		</button>
																	</a>
																</td>
															{% endif %}
				                                		</tr>
				                                	{% endfor %}
				                                </tbody>
				                            </table>

										{% if assetsList %}
											<ul class="pagination">
											        {% if assetsList.has_previous %}
											            <li><a href="/assets_log/{{ assetsList.previous_page_number }}/">&laquo;</a></li>
											        {% endif %}
											        {% for page in assetsList.paginator.page_range %}
											        	{% if assetsList.number == page %}
											        		<li class="disabled"><a href="/assets_log/{{page}}/">{{page}}</a></li>
											        	{% else %}
											        		<li><a href="/assets_log/{{page}}/">{{page}}</a></li>
											        	{% endif %}
											        {% endfor %}
											        {% if assetsList.has_next %}
											            <li><a href="/assets_log/{{ assetsList.next_page_number }}/">&raquo;</a></li>
											        {% endif %}
											</ul>
                     		            {% endif %}					                            
				                            					                   		
				                   		</div>

				                   </div>
				              </div>				              
				           </div>


                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>    
</div>


<script type="text/javascript">

		$(document).ready(function() {
		    $('#assetsTableList').DataTable({
		        responsive: true,
		        "order": [[4, 'asc']]
		    });
		});

		function deleteAssetsLogs(obj,id) {
			$.ajax({
				dataType: "JSON",
				url:'/api/logs/assets/'+ id +'/', //请求地址
				type:"DELETE",  //提交类似
				success:function(response){
					var str= 'assetsLogs-' + id
					document.getElementById(str).innerHTML = ''; 
				}					
			})					
		}					
  
</script>

{% endblock %}