{% extends 'index.html' %}
{% block ace-content %}
<script type="text/javascript" src="/static/dist/js/bootstrap-notify.js"></script>
{% endblock %}
{% block page-content %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa  fa-desktop"></i> 游戏录入</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           	 游戏服录入
                        </div>
                        <div class="panel-body">
                            <div class="row">
                           		<div class="col-lg-2">
                           		</div>
                                <div class="col-lg-8">
									<fieldset>
										<form role="form" method="post" id="addGame" class="main form-horizontal" >{% csrf_token %}
										<fieldset>
                                            <div class="form-group">
												 <label class="col-sm-2 control-label">服务器</label>
												 <div class="col-sm-6">
					                                 <select class="selectpicker" data-live-search="true"  data-size="5" name="game_server"  data-width="100%"  required>
					                                 		<option name="game_server" value="" selected="selected">选择一个主机进行配置</option>
					                                 	{% for ds in serverList %}
					                                 		<option name="game_server" value="{{ds.id}}">{{ds.ip}} | {{ds.project}} | {{ds.service}}</option>
					                                 	{% endfor %}
					                                 </select>
												 </div>
											</div>
											
											<div class="form-group">
												 <label class="col-sm-2 control-label">游戏名称</label>
												 <div class="col-sm-6">
												 	<input type="text" class="form-control" id="gamename" name="ganename" placeholder="例：108-西昌2" value="" class="input-xlarge"/>
												 </div>
											</div>

											<div class="form-group">
												 <label class="col-sm-2 control-label">网关GateWay地址</label>
												 <div class="col-sm-6">
                                                     <input type="text" class="form-control" name="gate_path" placeholder="例：/data/108-西昌2/GateWay" value="" class="input-xlarge"  required/>
												 </div>
											</div>	
					
											<div class="form-group">
												 <label class="col-sm-2 control-label">游戏GameServer地址</label>
												 <div class="col-sm-6">
                                                     <input type="text" class="form-control" name="game_path" placeholder="例：/data/108-西昌2/GameServer" value="" class="input-xlarge"  required/>
												 </div>
											</div>		
					
											<div class="form-group">
												 <label class="col-sm-2 control-label">上线状态</label>
												 <div class="col-sm-6">
												   <select class="form-control" name="state"  >
												   		<option selected="selected" value="-1">未上线</option>
                                                        <option  value="0">已下架</option>
														<option  value="1">已上线</option>
													</select>
												 </div>
											</div>
											
											</fieldset>

											<div class="form-group">
											<label class="col-sm-3 control-label"></label>
											<button type="reset"  class="btn btn-default" >撤销操作</button>
									 		<button type="button" class="btn btn-default" onclick="addGameServerData(this)" >确认提交</button>
									 		</div>
									 		
										</form>	
										 </fieldset>                              
                                </div>

                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>



<script type="text/javascript">
	
	function getFormData (form, filler) {
		var gamedata = new FormData();
		for (var i = 0; i < form.length; ++i) {
			var name = form[i].name;
			var value = form[i].value;
			if (name.length == 0)
				continue;
			try {
				value  = value.replace(/\n/g,'<br/>');
			}catch (e) {
				alert(e);
			}			
			if (value.length == 0) {
				if ((typeof filler != 'string') || (filler.length == 0))
					continue;
				else
					value = filler;
			}
			var pathend = name.indexOf("_path");
			if (pathend!=0){
				try {
					value.replace(/~\/$/,'');
				} catch (e) {
					alert(e);
				}
			}
            gamedata.append(name,value)
		}
        return gamedata;
	}

	function addGameServerData(obj) {
		var gs_data = getFormData(document.getElementById('addGame'),'');
		var btnObj = $(obj);
		$.ajax({
			url:/gs_add/, //请求地址
			type:"POST",  //提交类似
            processData: false,
            contentType:false,
			data:gs_data,  //提交参数
			success:function(response){
				window.wxc.xcConfirm("资产添加成功", window.wxc.xcConfirm.typeEnum.success);
			},
	    	error:function(response){
				$.notify({
					title: "<strong>资产添加错误:</strong><br>",
					message:response.responseText
				},
				{
					type: 'danger',
					delay: 3600000
				});	
	    	}
		})	
	}	

	
</script>
{% endblock %}
