{% extends 'index.html' %}
{% block ace-content %}
<script type="text/javascript" src="/static/dist/js/bootstrap-notify.js"></script>
{% endblock %}
{% block page-content %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa  fa-desktop"></i> 游戏录入</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           	  添加服务器
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="/gameserver/add?tab=#newgameserver" data-toggle="tab" id="tab1">
                                        新的游戏服
                                    </a>
                                </li>
                                <li>
                                    <a href="/gameserver/add?tab=#newgamehost" data-toggle="tab" id="tab2">
                                        新的宿主主机
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" name="newgameserver" id="newgameserver">
                                    <div class="row">
                                        <div class="col-lg-2">
                           		        </div>
                                        <div class="col-lg-8">
                                        <br>
                                            <fieldset>
                                                <form role="form" method="post" id="addGame" class="main form-horizontal" >{% csrf_token %}
                                                    <fieldset>
                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">服务器</label>
                                                             <div class="col-sm-6">
                                                                 <select class="selectpicker" data-live-search="true"  data-size="5" name="game_server"  data-width="100%"  required>
                                                                        <option name="game_server" value="" selected="selected">选择一个主机进行配置</option>
                                                                    {% for ds in serverList %}
                                                                        <option name="game_server" value="{{ds.id}}">{{ds.ip}} | {{ds.project}} | {{ds.service}}</option>
                                                                    {% endfor %}
                                                                 </select>
                                                             </div>
                                                        </div>

                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">游戏名称</label>
                                                             <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="gamename" name="gamename" placeholder="例：108-西昌2" value="" class="input-xlarge"/>
                                                             </div>
                                                        </div>

                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">网关GateWay地址</label>
                                                             <div class="col-sm-6">
                                                                 <input type="text" class="form-control" name="gate_path" placeholder="例：/data/108-西昌2/GateWay" value="" class="input-xlarge"  required/>
                                                             </div>
                                                        </div>

                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">游戏GameServer地址</label>
                                                             <div class="col-sm-6">
                                                                 <input type="text" class="form-control" name="game_path" placeholder="例：/data/108-西昌2/GameServer" value="" class="input-xlarge"  required/>
                                                             </div>
                                                        </div>

                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">上线状态</label>
                                                             <div class="col-sm-6">
                                                               <select class="form-control" name="state"  >
                                                                    <option selected="selected" value="-1">未上线</option>
                                                                    <option  value="0">已下架</option>
                                                                    <option  value="1">已上线</option>
                                                                </select>
                                                             </div>
                                                        </div>

                                                        </fieldset>

                                                    <div class="form-group">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <button type="reset"  class="btn btn-default" >撤销操作</button>
                                                    <button type="button" class="btn btn-default" onclick="addGameData(this,'server')" >确认提交</button>
                                                    </div>

                                                </form>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <div class="tab-pane fade" name="newgamehost" id="newgamehost">
                                    <div class="row">
                                        <div class="col-lg-2">
                           		        </div>
                                        <div class="col-lg-8">
                                            <br>
                                            <fieldset>
                                                <form role="form" method="post" id="addGame" class="main form-horizontal" >{% csrf_token %}
                                                    <fieldset>
                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">服务器</label>
                                                             <div class="col-sm-6">
                                                                 <select class="selectpicker" data-live-search="true"  data-size="5" name="game_server"  data-width="100%"  required>
                                                                        <option name="game_server" value="" selected="selected">选择一个主机进行配置</option>
                                                                    {% for ds in serverList %}
                                                                        <option name="game_server" value="{{ds.id}}">{{ds.ip}} | {{ds.project}} | {{ds.service}}</option>
                                                                    {% endfor %}
                                                                 </select>
                                                             </div>
                                                             <a style="text-decoration:none;"><button  type="button" class="btn btn-default" onclick='gamehostUpdate(this,{{ds}},"{{ds.ip}}")'><abbr title="扫描已存在的游戏服"><i class="glyphicon glyphicon-refresh"></i></abbr></button></a>
                                                        </div>

                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">游戏名称</label>
                                                             <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="gamename" name="gamename" placeholder="例：108-西昌2" value="" class="input-xlarge"/>
                                                             </div>
                                                        </div>

                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">网关GateWay地址</label>
                                                             <div class="col-sm-6">
                                                                 <input type="text" class="form-control" name="gate_path" placeholder="例：/data/108-西昌2/GateWay" value="" class="input-xlarge"  required/>
                                                             </div>
                                                        </div>

                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">游戏GameServer地址</label>
                                                             <div class="col-sm-6">
                                                                 <input type="text" class="form-control" name="game_path" placeholder="例：/data/108-西昌2/GameServer" value="" class="input-xlarge"  required/>
                                                             </div>
                                                        </div>

                                                        <div class="form-group">
                                                             <label class="col-sm-2 control-label">上线状态</label>
                                                             <div class="col-sm-6">
                                                               <select class="form-control" name="state"  >
                                                                    <option selected="selected" value="-1">未上线</option>
                                                                    <option  value="0">已下架</option>
                                                                    <option  value="1">已上线</option>
                                                                </select>
                                                             </div>
                                                        </div>

                                                        </fieldset>

                                                    <div class="form-group">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <button type="reset"  class="btn btn-default" >撤销操作</button>
                                                    <button type="button" class="btn btn-default" onclick="addGameData(this,'host')" >确认提交</button>
                                                    </div>

                                                </form>
                                            </fieldset>
                                        </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                                    <!-- /.row (nested) -->
                                </div>
                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>



<script type="text/javascript">

    $(function() {
    　　$.getUrlParam = function(name) {
    　　　　var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    　　　　var r = window.location.search.substr(1).match(reg);
    　　　　if(r != null) return unescape(r[2]);
    　　　　return null;
    　　}
    　　var url_tab = $.getUrlParam('tab');
    　　if(url_tab == 'newgamehost') {
    　　　　$('#tab2').click();
    　　} else if(url_tab == 'newgameserver') {
    　　　　$('#tab1').click();
    　　}
    });
	
	function getFormData (form, filler) {
		var gamedata = new FormData();
		for (var i = 0; i < form.length; ++i) {
			var name = form[i].name;
			var value = form[i].value;
			if (name.length == 0)
				continue;
			try {
				value  = value.replace(/\n/g,'<br/>');
			}catch (e) {
				alert(e);
			}			
			if (value.length == 0) {
				if ((typeof filler != 'string') || (filler.length == 0))
					continue;
				else
					value = filler;
			}
			var pathend = name.indexOf("_path");
			if (pathend>0){
				try {
					value=value.replace(/\/$/,'');
				} catch (e) {
					alert(e);
				}
			}
            gamedata.append(name,value)
		}
        return gamedata;
	}

	function addGameData(obj,gtype) {
		var gs_data = getFormData($(obj).closest('form')[0],'');
		var btnObj = $(obj);
		if (gtype=="host")
		{
		    typeurl="/gameserver/add?type=host"
        }
        else (gtype=="server")
        {
		    typeurl="/gameserver/add?type=server"
        }
		$.ajax({
			url:typeurl, //请求地址
			type:"POST",  //提交类似
            processData: false,
            contentType:false,
			data:gs_data,  //提交参数
			success:function(response){
				window.wxc.xcConfirm("资产添加成功", window.wxc.xcConfirm.typeEnum.success);
			},
	    	error:function(response){
				$.notify({
					title: "<strong>资产添加错误:</strong><br>",
					message:response.responseText
				},
				{
					type: 'danger',
					delay: 3600000
				});	
	    	}
		})	
	}	

	function gamehostUpdate(obj, id,ip,type){
			var btnObj = $(obj);
			var option = {
					title: "更新主机"+ip+")游戏信息",
					btn: parseInt("0011",2),
					onOk: function(){
						$.ajax({
							  type: 'GET',
							  url: '/gameserver/facts/',
							  data:{
									"server_id":id,
									"type":type
								},
						      success:function(response){
					                if (response["code"]=="200"){
					                	window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.success);

					                }
						        	else{
						        		window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
						        	}
							},
				            error:function(response){
				            	window.wxc.xcConfirm("请求数据错误！", window.wxc.xcConfirm.typeEnum.error);
				            },
							});
					},
					onCancel:function(){
					},
					onClose:function(){
					}
				};
			window.wxc.xcConfirm(txt, "custom", option);
		}
	
</script>
{% endblock %}
