{% extends 'index.html' %}
{% block ace-content %}
    <script type="text/javascript" src="/static/js/jquery.tablednd.js"></script>
{% endblock %}
{% block page-content %}
    <div id="page-wrapper">
    <div class="row">
         <div class="col-lg-12">
              <h1 class="page-header"><i class="fa  fa-wrench"></i> 更新计划中心</h1>
         </div>
                <!-- /.col-lg-12 -->
    </div>
	<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           	 添加列表
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6" style="float: left">
                                <legend>可选操作</legend>
                                    <button class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#updateGa"><i class="fa fa-plus-circle "></i>添加程序更新</button>
                                    <button class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#upstaticfi"><i class="fa fa-plus-circle "></i>添加添加静态配置更新</button>
                                    <button class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#updynamicfi"><i class="fa fa-plus-circle "></i>添加动态配置更新</button>
                                    <button class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#reboot"><i class="fa fa-plus-circle "></i>重启程序</button>
                                    <button class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#extracmd"><i class="fa fa-plus-circle "></i>自定义更新命令</button>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6" style="float: right">
                                <legend>计划列表</legend>
                                    <form role="form" method="post" id="addCrontab" class="main form-horizontal" enctype="multipart/form-data" >{% csrf_token %}
										<fieldset>
                                             <table width="100%" class="table table-striped table-bordered table-hover" id="updatelist">
                                                <thead></thead>
                                                 <tbody>

                                                 </tbody>
                                            </table>
											</fieldset>
											<div class="form-group">
											<label class="col-sm-3 control-label"></label>
											<button type="reset"   class="btn btn-default" >撤销操作</button>
									 		<button type="submit"  class="btn btn-default" >确认提交</button>
									 		</div>

                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>    
</div>
<div class="modal fade" id="updateGa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					添加程序更新
				</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <form class="form-horizontal" role="form" id="zone_assets">
                        <div class="form-group" id="souceform">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>选择更新源</strong></label>
                            <div class="col-sm-6">
                                <select class="selectpicker" id="sourceselect" onchange="source()" data-live-search="true"  data-size="5" name="souceserver"  data-width="100%"  required>
                                    <option name="souceserver" value="" selected="selected">选择更新源</option>
                                    {% for gs in gslist %}
                                        <option name="souceserver" value="{{gs.id}},game">{{gs.name}} | {{gs.gamepath}} | {{gs.server}}</option>
                                        <option name="souceserver" value="{{gs.id}},gate">{{gs.name}} | {{gs.gatepath}} | {{gs.server}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="fileopt"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>机房网段</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="zone_network" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>机房联系人</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="zone_contact" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>联系人号码</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="zone_number" />
                            </div>
                        </div>
				</form>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="addUPdate(this,updateGa)">
					添加至列表
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<script type="text/javascript">
function addUPdate(obj,ptype){

}
function source()
{
    valueslist=$("#sourceselect  option:selected").val().split(",")
    $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
    $.ajax({
        url : "/reupdate/showfile/",
        type : "post",
        async : true,
        data:{
            "gid":valueslist[0],
            "ptype":valueslist[1]
        },
        success : function(result) {
            dataList = result.data;
            console.log(dataList)
            var datahtml=""
            for (var i=0; i <dataList.length; i++)
                {
                    datahtml+='<div class="radio"><label><input type="radio" name="optionsRadios" value="'+dataList[i]["name"]+'">'+dataList[i]["name"]+"||"+dataList[i]["mtime"]+"||"+dataList[i]["size"]+'</label></div>'
                }
            rehtml = '<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>更新源文件</strong></label>'
                        +'<div class="col-sm-6">'
                            +datahtml
                        +'</div>'
            opt=document.getElementById("fileopt")
            opt.innerHTML=rehtml
        }
        })

    }

	  {% if errorInfo %}
	  	window.wxc.xcConfirm("{{errorInfo}}", window.wxc.xcConfirm.typeEnum.error);
	  {% endif %}
</script>

{% endblock %}