{% extends 'base.html' %}
{% block css-content %} 
    <link rel="stylesheet" href="/static/jstree/css/style.min.css" />
    <link href="/static/css/doublebox-bootstrap.css" rel="stylesheet">     
    <link rel="stylesheet" href="/static/jquery-confirm/jquery-confirm.min.css">
    <link href="/static/datatable/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css"> 
    <link rel="stylesheet" href="/static/css/jquery.orgchart.css">	
	<script src="/static/ace/js/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/ace/js/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/ace/js/ext-old_ie.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/ace/js/theme-monokai.js" type="text/javascript" charset="utf-8"></script>  
    <link href="/static/datatable/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/datatable/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/datatable/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/datatable/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">  
    <!-- bootstrap-daterangepicker -->
    <link href="/static/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">    
    <link href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/default.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>    
	<style type="text/css"> 	
		.assets-online{
		    color:green;
		}
		.assets-offline{
		    color:red;
		}	
        .modal-select{
            -moz-user-select:none;/*火狐*/
            -webkit-user-select:none;/*webkit浏览器*/
            -ms-user-select:none;/*IE10*/
            -khtml-user-select:none;/*早期浏览器*/
            user-select:none;
            }
          .modal-header{
            cursor:move;
          }	
		td.details-control {
		    background: url('/static/images/details_open.png') no-repeat center center; */
		    cursor: pointer;
		}
		tr.shown td.details-control {
		    background: url('/static/images/details_close.png') no-repeat center center;
		} 
		#compile-editor-add {
			width: 100%;
			height: 200px;
	   }	
		#compile-editor-modf {
			width: 100%;
			height: 200px;
	   }          		
	</style>     
{% endblock %}
{% block page-content %}
        <div class="clearfix"></div>
        
            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>数据库查询入口<small>Database Query</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-sm-3 mail_list_column"> 
                      <input id="search-input" type="text" class="form-control" placeholder="检索关键词...">   
                      <!-- <span class="section"></span>  -->
					  <legend></legend>                
                      <div id="dbTree"></div>                                     
                      </div>
                      <!-- /MAIL LIST -->

                      <!-- CONTENT MAIL -->
                      <div class="col-sm-9 mail_view">
                        <div class="inbox-body" >
			                <div class="" role="tabpanel" data-example-id="togglable-tabs"  id="add_inventory">
			                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
			                    <li role="presentation" id="li_tab_content1" class="active"><a href="#tab_content1" id="query" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-cubes"></i> SQL Query</a>
			                    </li>
			                    <li role="presentation" id="li_tab_content3" class=""><a href="#tab_content3" role="tab" id="tableDDL" data-toggle="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> 表结构查询</a>
			                    </li>                     
<!--			                    <li role="presentation" class=""><a href="#tab_content4" role="tab" id="#optimize" data-toggle="tab" aria-expanded="false"><i class="fa fa-paint-brush"></i> SQL优化建议</a>
			                    </li> -->                                                
			                  </ul>
			                  <div id="myTabContent" class="tab-content">
			                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="#query">
									<div class="col-md-12 col-xs-12">
										<legend>
											<i class="fa  fa-paper-plane" id="dbChoice"></i> 数据库查询
										</legend>
										<form role="form" method="post" id="exec_db_query" class="main form-horizontal"  novalidate>																								
											<div class="form-group">
												<label>SQL内容<i class="fa fa-info-circle" data-toggle="tooltip" title="输入查询SQL"></i></label>	
												<div id="compile-editor-add" class="ace_editor"></div> 	
											</div>																																						
											<lable><button type="button" value="" class="btn btn-default btn-sm disabled" id="db_query_btn">请先选择数据库</button></lable>
										</form> 
									</div>
									<div class="hr hr32 hr-dotted"></div>
						            <div class="col-md-12 col-xs-12" id="show_sql_result" style="display:none;">
						            <div class="x_panel">
						              <div class="x_title">
						                <h2>查询结果 <small>Results of execution</small></h2>
						                <ul class="nav navbar-right panel_toolbox">
						                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						                  </li>
						                  <li class="dropdown">
						                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						                    <ul class="dropdown-menu" role="menu">
						                      <li><a href="#">Settings 1</a>
						                      </li>
						                      <li><a href="#">Settings 2</a>
						                      </li>
						                    </ul>
						                  </li>
						                  <li><a class="close-link"><i class="fa fa-close"></i></a>
						                  </li>
						                </ul>
						                <div class="clearfix"></div>
						              </div>
						              <div class="x_content">
						                    <div id="result">
						                    </div>             
						              </div>
						            </div>
						            </div>  									
								</div>
			                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="#Binglog">
									<div class="col-lg-12">
										<legend>
											<i class="fa  fa-paper-plane-o"></i> 解析结果
										</legend>
										<div id="binlog_result">
					                    </div>							
									 </div>						 
			                    </div> 
			                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="#tableDDL">
									<div class="col-lg-12">
										<legend>
											<i class="fa  fa-paper-plane-o"></i> 查询结果
										</legend>
				                        <div id="schema_result">		                        
				                        </div>							
									 </div>						 
			                    </div>                     
			                     <!-- CustomSql -->
			                    <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="#optimize">
									 <div class="col-lg-12">
										<legend>
											<i class="fa  fa-paper-plane-o"></i> 建议结果
										</legend>
				                        <div id="optimize_result">		                        
				                        </div>															 	
									 </div>
			                    </div>                         
			                </div>                                  
			              </div>
                        </div>
                      </div>
                      <!-- /CONTENT MAIL -->
                    </div>
                  </div>
                </div>
              </div>
            </div>        

                  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="width:auto; height:auto;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">

                        <div class="modal-header">
							<div class="btn-group  btn-group-sm">
		                        <button class="btn btn-default" type="button" name="monitor_half_hour" value="">最近半小时</button>
		                        <button class="btn btn-default" type="button" name="monitor_one_hour" value="">最近1小时</button>
		                        <button class="btn btn-default" type="button" name="monitor_six_hour" value="">最近6小时</button>
		                        <button class="btn btn-default" type="button" name="monitor_one_day" value="">最近1天</button>
	                      	</div>	
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>	                      	                      									                                        
                        </div>
                        <div class="modal-body">                       
		                  <ul class="list-unstyled timeline">
		                    <li>
		                      <div class="block">
		                        <div class="tags">
		                          <a href="" class="tag">
		                            <span>CPU</span>
		                          </a>
		                        </div>
		                        <div class="block_content">
		                           <div id="draw_line_cpu" style="width:100%; height:300px;"></div>
		                        </div>
		                      </div>
		                    </li>
		                    <li>
		                      <div class="block">
		                        <div class="tags">
		                          <a href="" class="tag">
		                            <span>内存</span>
		                          </a>
		                        </div>
		                        <div class="block_content">
		                          <div id="draw_line_mem" style="width:100%; height:300px;"></div>
		                        </div>
		                      </div>
		                    </li>			                    
		                    <li>
		                      <div class="block">
		                        <div class="tags">
		                          <a href="" class="tag">
		                            <span>流量</span>
		                          </a>
		                        </div>
		                        <div class="block_content">
		                          <div id="draw_line_taffic" style="width:100%; height:300px;"></div>
		                        </div>
		                      </div>
		                    </li>
		                    <li>
		                      <div class="block">
		                        <div class="tags">
		                          <a href="" class="tag">
		                            <span>磁盘I/O</span>
		                          </a>
		                        </div>
		                        <div class="block_content">
		                          <div id="draw_line_disk" style="width:100%; height:300px;"></div>
		                        </div>
		                      </div>
		                    </li>				                    		                    
		                  </ul> 
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                      </div>
                    </div>
                  </div>
                  
		        <div class="modal fade bs-example-modal-tags-info"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">  
		          <div class="modal-dialog modal-lg">
		            <div class="modal-content">
		
		              <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
		                </button>
		                <h4 class="modal-title" id="myModalLabel">标签分类</h4>
		              </div>
		              <div class="modal-body ue-container">
		              
						 <select multiple="multiple" size="10" name="doublebox" class="demo">
					        </select>
		
		              </div>
		              <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                <button type="button" id="taggroupsubmit" value=""  class="btn btn-primary">保存</button>
		              </div>
		
		            </div>
		          </div>
		        </div>  
		        
		        <div class="modal fade bs-example-modal-webssh-info"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">  
		          <div class="modal-dialog modal-lg" style="width:1290px;height: 600px">
		            <div class="modal-content">
		
		              <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
		                </button>
		                <h4 class="modal-title" id="myWebsshModalLabel">WebSSH</h4>
		              </div>
		              <div class="modal-body">
						<div id="webssh_tt"  style="width:800px;" >
						    </div>	
		              </div>
		              <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                <button type="button" id="websshConnect" value=""  class="btn btn-primary">连接</button>
		              </div>
		
		            </div>
		          </div>
		        </div>		                        
                      
{% endblock %}
{% block js-content %}
	<script type="text/javascript" src="/static/js/tagcanvas/jquery.tagcanvas.js"></script>    
	<script src="/static/jquery-confirm/jquery-confirm.min.js"></script>
	<script src="/static/validator/validator.js"></script>
	<script src="/static/jstree/js/jstree.min.js"></script>
    <script src="/static/datatable/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/static/datatable/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>	
    <script src="/static/datatable/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/datatable/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/datatable/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/datatable/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/datatable/datatables.net-buttons/js/buttons.print.min.js"></script>	
    <!-- morris.js -->	
<!--	<script src="/static/js/doublebox/doublebox-bootstrap.js"></script>
	<script src="/static/xterm/xterm.js"></script>
  	<script src="/static/xterm/addons/fit/fit.js"></script>
 	<script src="/static/xterm/addons/fullscreen/fullscreen.js"></script> 
	<script src="/static/js/dragable/dragable.js"></script>--> 
	<script src="/static/js/database/query.js"></script>	
{% endblock %}