{% extends 'index.html' %}
{% block page-content %}
<div id="page-wrapper">

    <div class="row">
         <div class="col-lg-12">
              <h1 class="page-header"><i class="fa fa-desktop"></i>&nbsp;<code>WebSSH</code></h1>
         </div>
                <!-- /.col-lg-12 -->
    </div>


	<div class="row">
		<div class="col-lg-2">

                    <div class="chat-panel panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-laptop fa-fw"></i> 主机列表
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
				            <div class="list-group">
					                <a  class="list-group-item" onclick="addTab('{{server.ip}}','{{gateone_api_url}}/websshFrame/{{server.id}}/?location={{server.ip}}')">
					                   <i class="fa fa-terminal fa-fw"></i> {{ server.ip }}
					                   		<span class="pull-right text-muted small"><button type="button" class="btn btn-outline btn-danger btn-xs">当前</button>
					                   </span>
					                </a>            
				            	{% for ds in serverList  %}
				            		{% if server.id != ds.id %}
						                <a  class="list-group-item" onclick="addTab('{{ds.ip}}','{{gateone_api_url}}/websshFrame/{{ds.id}}/?location={{ds.ip}}')">
						                   <i class="fa fa-terminal fa-fw"></i> {{ ds.ip }}
						                   		<span class="pull-right text-muted small"><button type="button" class="btn btn-outline btn-success btn-xs">连接</button>
						                   </span>
						                </a>
					                {% endif %}
				                {% endfor %}
				            </div>
                        </div>
                    </div>
			
				
		</div>
		<div class="col-lg-10">
			<div id="webssh_tt" class="easyui-tabs" style="width: 100%;height:750px;">
			
				<div title="{{ server.ip }}" id="gateone_container" style="position: relative; width: 100%; height: 55em;margin: 0 auto">  
				  
				    <div id="gateone"></div>  
				  
				</div>  
			</div>
		</div>
	</div>
</div>



<script type="text/javascript" src="/static/js/gateone.js"></script>  

{% if errorInfo %}
	<script type="text/javascript"> 
		window.wxc.xcConfirm("{{errorInfo}}", window.wxc.xcConfirm.typeEnum.error);
	</script> 
{% else %}
	<script type="text/javascript">
    $(document).ready(function(){           
        var ip = "{{ server.ip }}";  
        var ssh_url = 'ssh://{{ server.username }}@' + ip + ':' + {{ server.port }};             
        var request = $.ajax({  
            url:'/api/webssh/',   
            type:"GET",  
            dataType:"json",  
  
        });  
        
        request.done(function (auth_info) {
        	console.log(auth_info["auth"]);
            GateOne.init({
                auth: auth_info["auth"],
                url: auth_info["url"],
                scrollback: 10000,
                disableTermTransitions: 'true',
                autoConnectURL: ssh_url,
                showToolbar: false
            });
        }); 
//         GateOne.Net.autoConnect();
        GateOne.Base.superSandbox("GateOne.SomePlugin", ["GateOne", "GateOne.Net",  "GateOne.Terminal.Input", "GateOne.Terminal"], function(window, undefined) {   
            var location =  ip;                
            GateOne.prefs.autoConnectURL=ssh_url;  
            GateOne.prefs.fontSize="100%";  
            GateOne.prefs.scrollback = 10000;  // scrollback buffer up to 10,000 lines  
            GateOne.Terminal.loadFont("Source Code Pro", "100%");  
            GateOne.locations; // Holds the state of all current known/open locations  
            GateOne.Net.setLocation(location); // Change locations in the current tab on-the-fly!这里设置的作用在于记录和保持ssh登陆的状态，只要不logout或者断开session，关闭页面后打开还会回到上次的状态  
        });  
    }); // end of document ready  
  
  
  

  
</script> 

	<link rel="stylesheet" type="text/css" href="/static/dist/css/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/dist/css/icon.css">
<!-- 	<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script> -->
	<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
	<script>
		function addTab(title, url){
			if ($('#webssh_tt').tabs('exists', title)){
				$('#webssh_tt').tabs('select', title);
			} else {
				var content = '<iframe  scrolling="no"  frameborder="no" border="0" marginwidth="0" marginheight="0" src="'+url+'" style="width:100%;height:100%;"></iframe>';
				$('#webssh_tt').tabs('add',{
					title:title,
					content:content,
					closable:true
				});
			}
		}
	</script>  

{% endif %}

{% endblock %}